body{
    background-color:darkseagreen;
    font-family: 'Special Elite', cursive;
}

.header_div{
    background-color:rgb(28, 27, 27);
 }

 .header_div h2{
    font-family:'Pacifico', cursive;
    color: white;
    
}

 .header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family:'Pacifico', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 0);
     width: 100%;
     font-size: 18px;
    background-color: darkseagreen;
    line-height: 3px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    bottom: 0;
    
}

